*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    width: 100%;
}

.navbar {
    background-color: #333;
    width: 100%; 
    padding: 10px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
    height: 73px;
    width: 230px;
    margin-right: 29vh;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 1vh;
}

.search {
    padding: 9px;
    border: 1px solid #8f8888;
    border-radius: 15px;
    background-color: #525252;
    color: white;
    margin-left: 15vh;
    padding-left: 1vh;
    padding-right: 1vh;
    width: 44vh;
    margin-right: 47vh;
}

button{
    position: absolute;
    margin-top: 1vh;
}

button:hover{
    text-shadow: 0px 0px 8px #fff;
}

.search-icon{
    background-color: #525252;
    width: 20px;
    height: 20px;
}

.search-button {
    background-color: #525252;
    border-radius: 10px 10px;
    cursor: pointer;
}

search-button:hover{
    background-color: #696767;
}

.auth {
    display: flex;
    margin-left: 0;
}

.auth a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 1px;
    padding: 5px;
    margin-left: 0vh;
}

.auth a:hover {
    color: white; 
}

.sub-menu {
    background-color: black; 
    padding: 10px 0; 
}

.sub-menu ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.sub-menu li {
    margin: 0; 
    position: relative; 
}

.sub-menu a {
    color: white; 
    text-decoration: none;
    padding: 10px 15px; 
    border-bottom: 3px solid transparent;
}

.sub-menu li:nth-child(1) a {
    border-bottom: 3px solid #ffcc00;
}

.sub-menu li:nth-child(1) a:hover {
    border-bottom: 3px solid white;
}

.sub-menu li:nth-child(2) a {
    border-bottom: 3px solid #ff6699; 
}

.sub-menu li:nth-child(2) a:hover {
    border-bottom: 3px solid white;
}

.sub-menu li:nth-child(3) a {
    border-bottom: 3px solid #4CAF50; 
}

.sub-menu li:nth-child(3) a:hover {
    border-bottom: 3px solid white;
}
.sub-menu li:nth-child(4) a {
    border-bottom: 3px solid #6699ff; 
}

.sub-menu li:nth-child(4) a:hover {
    border-bottom: 3px solid white;
}
.sub-menu li:nth-child(5) a {
    border-bottom: 3px solid #ffcc00; 
}

.sub-menu li:nth-child(5) a:hover {
    border-bottom: 3px solid white;
}
.sub-menu li:nth-child(6) a {
    border-bottom: 3px solid #ff6699;
}

.sub-menu li:nth-child(6) a:hover {
    border-bottom: 3px solid white;
}
.sub-menu li:nth-child(7) a {
    border-bottom: 3px solid #4CAF50; 
} 

.sub-menu li:nth-child(7) a:hover {
    border-bottom: 3px solid white;
}

.sub-menu a:hover {
    text-shadow: 0px 0px 8px #fff;
}

.sub-menu a {
    border-bottom: 3px solid transparent; 
}

span {
    padding: 0px;
}

.ulUno {
    display: flex; 
    align-items: center; 
    list-style: none; 
    padding: 0; 
    margin: 0;
} 


